################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DynamicEnergyTest/debug
/DynamicEnergyTest/.vs/DynamicEnergyTest/v16/Server/sqlite3
/DynamicEnergyTest/DynamicEnergyTest/obj/Debug
/DynamicEnergyTest/KoboldCom/obj/Debug
/DynamicEnergyTest/DynamicEnergyTest/bin/Debug
